.qc-input-number {
  overflow: hidden;
  &__icon {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 60px;
    text-align: center;
    font-size: 28px;
    background: #f2f2f2;
    border-radius: 4px;
    color: #757575;
    &--disabled {
      // background: none;
      color: #ccc;
    }
    .qcfont {
      font-size: 24px;
    }
  }
  &__value {
    float: left;
    font-size: 28px;
    min-width: 60px;
    height: 50px;
    padding: 0 2px;
    box-sizing: border-box;
    line-height: 50px;
    margin: 0 4px;
    background: #f2f2f2;
    text-align: center;
    border-radius: 4px;
  }
}
