.qc-empty-page {
  padding-top: 180px;
  .err-img {
    width: 35%;
    // margin: 180px auto 0;
    margin: 0 auto;
    display: block;
  }
  .err-text {
    text-align: center;
    font-size: 26px;
    padding: 30px 0;
    color: #999;
  }
  .err-button {
    width: 25%;
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    color: #333;
    border: 1PX solid #666;
    border-radius: 6px;
  }
}
.mini {
  padding-top: 30px;
}
