// @import '../../../styles/index.scss';

.icon-tag-item {
  background: $color-primary;
  font-size: 26px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 16px 20px 0;
  position: relative;
  display: inline-block;
  .qcfont {
    margin-right: 10px;
  }
  .delete {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 30px;
    height: 30px;
    background: rgb(189, 189, 189);
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
  }
}