@import '../../../styles/index.scss';

.success-wrap {
  position: relative;
  margin: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
  background: #fff;
  .success-status {
    padding: 35px 0;
    text-align: center;
    color: #68c000;
    .qcfont {
      font-size: 150px;
    }
    .status-title {
      font-size: 36px;
      font-weight: normal;
      margin-top: 25px;
    }
    .status-info {
      font-size: 16px;
      color: #b1b1b1;
    }
    .iconfont-success {
      font-size: 55px;
    }
  }
  .success-sum {
    margin: 40px 0;
    text-align: center;
    .title {
      font-size: 28px;
    }
    .count {
      font-size: 28px;
      .num {
        font-size: 64px;
        font-weight: bold;
      }
    }
  }
  .back-btn {
    font-size: 28px;
    display: inline-block;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    text-decoration: underline;
    color: #717171;
  }
  .bottom-logo {
    @include img();
  }
  .subscribe {
    padding: 30px;
    button {
      background: var(--color-primary);
      color: #fff;
    }
  }
}

.success-dialog {
  // width: 550px;
  .success-close {
    margin: 30px auto 0;
    text-align: center;
    color: #fff;
    .qcfont {
      font-size: 40px;
    }
  }
  .success-content {
    // height: 500px;
    width: 600px;
    border-radius: 20px;
    overflow: hidden;
    // background-color: #fff;
    text-align: center;
    position: relative;
    .img-box {
      @include img();
      width: 600px;
      height: 600px;
    }
    .btn-box {
      position: absolute;
      bottom: 60px;
      left: 50px;
      right: 50px;
      display: flex;
      justify-content: space-between;
      button {
        @include reset-btn-style();
        font-size: 30px;
        width: 220px;
        height: 70px;
        line-height: 70px;
        color: #fff;
        // padding: 20px 0;
        background-color: #ff600f;
        border-radius: 40px;
        &:first-child {
          background-color: #242d5c;
        }
      }
    }
  }
}
