.coupon-item {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  .cover {
    @include img();
    // width: 220px;
    // height: 160px;
    width: 338px;
    height: 200px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .name {
      @include ellipsis-line();
    }
    .desc-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 26px;
      color: $color-grey;
      .qcfont {
        margin-right: 10px;
      }
    }
  }
}
.news-item-line {
  @include top-line(30px);
}