
page {
  background: #fff;
}

.total {
  font-size: 32px;
  padding: 30px 30px;
  padding-top: 20px;
  text-align: center;
  line-height: 1.5;
}

.item-wrap {
  background: #f6f6f6;
  border-radius: 16px;
  margin: 0 30px;
  margin-bottom: 20px;
}