@import '../../../styles/index.scss';

.success-wrap {
  position: relative;
  margin: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
  background: #fff;
  .success-status {
    padding: 35px 0;
    text-align: center;
    color: #68c000;
    .qcfont {
      font-size: 150px;
    }
    .status-title {
      font-size: 36px;
      font-weight: normal;
      margin-top: 25px;
    }
    .status-info {
      font-size: 16px;
      color: #b1b1b1;
    }
    .iconfont-success {
      font-size: 55px;
    }
  }
  .success-sum {
    margin: 40px 0;
    text-align: center;
    .title {
      font-size: 28px;
    }
    .count {
      font-size: 28px;
      .num {
        font-size: 64px;
        font-weight: bold;
      }
    }
  }
  .back-btn {
    font-size: 28px;
    display: inline-block;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    text-decoration: underline;
    color: #717171;
  }
  .bottom-logo {
    @include img();
  }
}